@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    color: #FFF5EE;
    text-transform: uppercase;
    letter-spacing: 3px;
   
}

#logo {
    float: left;
    font-size: 400%;
}

#nav-float-right {
    font-size: 150%;
    float: right;
    margin-top: 25px;
}

#nav-float-right li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
    letter-spacing: 4px;
}

#nav-float-right a {
    text-decoration: none;
}

#nav-float-right a:hover {
    text-decoration: underline;
}

#bg-change {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 600px;
    width: 100%;
    background: url('../images/bg-image-weight-lifting.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    animation-name: bg-change;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes bg-change {
    0% {
        background-image: url('../images/bg-image-weight-lifting.jpg');
    }
    40% {
        background-image: url('../images/bg-boxing.jpg');
    }
    80% {
        background-image: url('../images/bg-kettlebell.jpg');
    }
}