@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    color: #141413ee;
    text-transform: uppercase;
    letter-spacing: 3px;

}

#logo {
    float: left;
    font-size: 400%;
}

#nav-float-right {
    font-size: 150%;
    float: right;
    margin-top: 25px;
}

#nav-float-right li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
    letter-spacing: 4px;
}

#nav-float-right a {
    text-decoration: none;
}

#nav-float-right a:hover {
    text-decoration: underline;
    color: #ae1818
}

#bg-change {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#bg-image {
    height: 800px;
    width: 100%;
    background: url('../images/bg-image-weight-lifting.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    animation-name: bg-change;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
}

@keyframes bg-change {
    10% {
        background-image: url('../images/bg-image-weight-lifting.jpg');
    }

    40% {
        background-image: url('../images/bg-pushup.jpg');
    }

    80% {
        background-image: url('../images/bg-boxing.jpg');
    }
}

h2,
p {
    font-family: 'Fjalla One', sans-serif;
    color: #141413ee;
}

h2 {
    text-transform: uppercase;
}

hr {
    border-top: 1px solid black;
    width: 90%;
    margin: 5px 0;
    
}

#left-image {
    width: 50%;
    height: 50%;
    margin-top: -50px;
    margin-left: 250px;
}

#left-image img {
    width: 100%;
    height: 100%;
}

#right-reason {
    font-size: 140%;
    float: right;
    width: 400px;
    height: 200px;
    background-color: rgba(21, 21, 212, 0.522);
    letter-spacing: 2px;
    position: absolute;
    right: 20%;
    top: 100%;
    padding-top: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

#right-image {
    width: 50%;
    height: 50%;
    float: right;
    margin-right: 250px;
}

#right-image img {
    width: 100%;
    height: 100%;
}

#left-reason {
    font-size: 140%;
    float: left;
    width: 400px;
    height: 200px;
    background-color: rgba(237, 181, 13, 0.705);
    letter-spacing: 2px;
    position: absolute;
    left: 22%;
    bottom: -90%;
    padding-top: 30px;
    padding-left: 10px;
    border-radius: 5px;
}